.avatar-img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.logout-btn {
    margin: 0;
    font-size: 16px; 
    padding: 8px 12px; 
    border-radius: 4px;
    background: none;
}
