.login-container {
    display: flex;
    background-color: #f9f9f9;
}

.login-image {
    flex: 1;
    height: 100%;
    background-color: #f0f0f0;
    object-fit: cover;
}

.login-image img{
    width: -webkit-fill-available;
    max-height: 100vh;
}

.login-dialog {
    max-height: 100vh;

    flex: 1;

    display: grid;
    grid-template-rows: repeat(12, 1fr);

    padding: 1rem;
    background-color: #fff;
    border: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000; 
}

.login-dialog h2 {
    grid-row: 3;
}

.login-form {
    grid-row: 4;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
}

.login-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-size: 1em; 
    width: 40%;
}

.login-form input {
    width: 100%; 
    padding: 0.5rem;
    box-sizing: border-box; 
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5rem;
}

.submit-login {
    padding: 0.6rem;
    margin: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    line-height: 1rem;
    width: 40%;
}

.submit-login:disabled {
    background-color: #ccc;
}

.prop-and-googlelogin {
    margin-top: 0.5rem;
    grid-row: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-prompt {
    text-align: center;

    margin: 0.5rem 0 0.5rem 0;
}

.google-login-btn {
    display: flex;          
    align-items: center;  
    justify-content: center;   
    gap: 0.5rem; 
    padding: 0.6rem;
    margin: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;

    line-height: 1rem;
    width: 40%;
}

.google-login-btn:disabled {
    background-color: #ccc;
}

.google-icon {
    width: 1rem;
}
