*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

#root {
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: #C3A29E;

  width: 100%;

  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
  padding-top: 0.5rem;
}

.main {
  background-color: #E8DBC5;
}

.footer {
  background-color: #C3A29E;
}
